/* CSS Document */

body {
	background: #E1EBE3;
	/*background: #F8EEE1;*/
	color: #2E1C02;
}

h1, h2, h3, h4, h5, h6 {
	font-family: 'Playfair Display', serif;
}

.bi {
	font-size:80px;
}

.button {
	display: inline-block;
	color: #E1EBE3;
	text-decoration: none;
	font-family: 'Playfair Display', serif;
	font-size: 1.5em;
	background:#2E1C02;
	margin: 20px;
	padding: 20px;
}

nav {
	color: #2E1C02;
	background: #E1EBE3;
	font-size: 20px;
	font-family: 'Playfair Display', serif;
	text-transform: uppercase;
}

.nav-link {
	color: #2E1C02;
	font-size: 20px;
}

.nav-link:hover {
	color: #CC94E2;
}

.section2, .section4 {
	background: white;
}

footer {
	background: #2E1C02;
	color: white;
}